<html>

    <head>
        <title>Notification preferences</title>
    </head>

    <body>
        <h1>Notifications</h1>

        {% if action %}
        <h2>Notifications for this wave have been enabled</h2>
        {% endif %}

        {% if pwp %}
        <form action="" method="post">
            <h2>Preferences</h2>

            <input type="checkbox" name="pwp_notify" value="1"{% if pwp.notify %} checked="true"{% endif %} />
            <label for="pwp_notify">Notify me about updates to this wave</label>

            <p><input type="submit" value="Update" /></p>
        </form>

        Also edit your <a href="{{ waveurl }}">general notification preferences</a>.
        {% endif%}

        {% if not pwp %}
            Not found. If you don't have a global preferences wave please remove and add again the notifiy robot.
        {% endif%}
    </body>

</html>